name: CI

on:
  workflow_dispatch:
  push:

permissions:
  contents: read

env:
  TESTOPTS: --verbose

jobs:
  test-linux:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        ruby-version: ['3.1', '3.2', '3.3', '3.4']

    name: Ruby ${{ matrix.ruby-version }}
    steps:
    - uses: actions/checkout@v6
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby-version }}
    - name: test
      run: |
        sudo apt update && sudo apt install libmagickwand-dev gsfonts ghostscript
        bundle install
